body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    padding: 20px 0;
}
input[type="url"] {
    width: 90%;
}

div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:10px;
}
img {
    width: 300px;
    height: auto;
}
span {
    opacity: 0.5;
    font-size: .7em;
    margin-top: 10px;
}